*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
li{list-style: none;}
html, body{width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif;}
.n{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
.wrap{min-width: 1200px; width: 95%; margin: auto;}
.bgC{background-repeat: no-repeat; background-position: center; background-size: contain;}
.bgV{background-repeat: no-repeat; background-position: center; background-size: cover;}
.liner1{position: absolute; width: 75px; position: absolute; left: 50%; transform: translateX(-50%); z-index: -1;}
.liner1::after{content: ""; width: 10px; height: 100%; position: absolute; left: 0;}
.liner1::before{content: ""; width: 55px; height: 100%; position: absolute; right: 0;}
.liner2{width: 230px; height: 540px; padding-top: 310px; line-height: 230px; color: white; font-size: 35px; font-weight: 700; text-align: center; position: absolute; left: 50%; transform: translateX(-50%); z-index: -1; background-image: url(../img/apple-watch.png);}

/* ---------- */

header{width: 100%; height: 110px; position: fixed; top: 0; left: 0; z-index: 10;}
header > .wrap{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
header > .wrap > h1 > a > img{height: 50px; float: left;}
header > .wrap > ul{height: 50px; float: right;}
header > .wrap > ul > li{float: left; line-height: 50px; margin-left: 30px; padding: 0  36px; border-radius: 25px; font-weight: bold; cursor: pointer;}


footer{width: 100%; height: 60px; position: fixed; left: 0; bottom: 0; z-index: 10;}
footer > .wrap{position: relative; height: 60px;}
#copyright{font-weight: 900; line-height: 60px; text-align: center;}
aside{width: 250px; height: 40px; line-height: 37px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
aside > *{float: right; height: 40px; cursor: pointer; border-radius: 40px; line-height: 40px; padding: 0 20px; letter-spacing: -1px; position: relative;}
aside > * > span{display: block; float: left; margin: 2px 5px 0 0;}
aside > * > span > svg{width: 15px; height: 15px;}
aside > #up > svg{position: absolute; top: 47.5%; left: 50%; transform: translate(-50%, -50%);}
#up{width: 40px; border-radius: 50%; margin-left: 10px;}

/* ---------- */

body > div{width: 100%; float: left; position: relative;}
#intro{height: 100vh;}
#intro > div{width: 750px; float: left; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#intro > div > h1{text-align: center;}
#intro > div > h1 > img{height: 160px}
#intro > div > p{width: 100%; height: 100px; margin-top: 10px; border-radius: 50px; text-align: center; line-height: 100px; font-size: 40px;}
#intro > div > a{display: block; width: 127px; line-height: 37px; text-align: center; margin: 15px auto 0; border-radius: 10px; font-size: 20px; cursor: pointer;}

/* ---------- */

#description{height: auto;}
#description > div:nth-child(1){height: 100vh; position: relative;}
#description > div:nth-child(1) > div{width: 1300px; height: 735px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url('../img/apple-mac-description.png'); padding: 100px;}
#description > div:nth-child(1) > div > h2{color: #FFE97B; text-align: center; font-size: 40px; font-weight: 900; position: relative;}
#description > div:nth-child(1) > div > h2::after{content: ""; position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%); background-color: #7BFFE4; width: 2px; height: 20px;}
#description > div:nth-child(1) > div > p{text-align: center; font-size: 40px; font-weight: 700; position: relative;}
#description > div:nth-child(1) > div > p:nth-child(2){margin: 40px 0 70px;}
#description > div:nth-child(1) > div > p:nth-child(3){font-weight: 400; line-height: 70px; font-size: 30px;}
#description > div:nth-child(1) > div > p:nth-child(4){font-weight: 400; line-height: 70px; font-size: 30px;}

#description > div:nth-child(3){height: 100vh; position: relative;}
#description > div:nth-child(3) > div{width: 430px; height: 735px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url('../img/apple-mobile-description.png'); padding: 100px;}
#description > div:nth-child(3) > div > h2{color: #7BFFE4; text-align: center; font-size: 40px; font-weight: 900; position: relative;}
#description > div:nth-child(3) > div > h2::after{content: ""; position: absolute; bottom: -30px; left: 50%; transform: translateX(-50%); background-color: #7BFFE4; width: 2px; height: 20px;}
#description > div:nth-child(3) > div > p{text-align: center; font-size: 40px; font-weight: 700; position: relative;}
#description > div:nth-child(3) > div > p:nth-child(2){margin: 40px 0 70px;}
#description > div:nth-child(3) > div > p:nth-child(3){font-weight: 400; line-height: 70px; font-size: 30px;}
#description > div:nth-child(3) > div > p:nth-child(4){font-weight: 400; line-height: 70px; font-size: 30px;}

#description > .liner1{height: 1500px; top: 500px;}

/* ---------- */

#our{height: 40vh; background-attachment: fixed; background-size: cover; background-image: url('../img/main_img.png'); background-position: top;}
#our > #our_Cover{width: 100%; height: 100%; background-color: rgba(0,0,0,0.4);}
#our > .liner2{top: 200px;}

/* ---------- */
#activity{height: auto; padding-top: 400px; float: left;}
#activity > .wrap > p{width: 750px; height: 100px; margin: 10px auto; border-radius: 50px; text-align: center; line-height: 100px; font-size: 40px;}
#activity > .wrap > div{width: 1000px; height: auto; margin: auto; background-image: url('../img/apple-mac-description.png'); padding: 120px 100px;}
#activity > .wrap > div > p{position: relative; font-weight: 300; line-height: 50px; font-size: 25px;}
#activity > .wrap > div:nth-child(3){background-image: none; padding: 0 100px; height: 200px; margin: auto}
#activity > .wrap > div:nth-child(3) > div{height: 200px; float: left;}
#activity > .wrap > div:nth-child(3) > div:nth-child(1){width: 70%; background-image: url('../img/apple-keyboard.png');}
#activity > .wrap > div:nth-child(3) > div:nth-child(2){width: 30%; background-image: url('../img/apple-mouse.png');}

/* ---------- */

#m_descript{padding: 75px 0; margin-top: -70px; float: left;}
#m_descript > .wrap{padding: 0 200px;}
#m_descript > .wrap > div{width: calc(100% / 3); float: left; padding: 0 50px; position: relative;}
#m_descript > .wrap > div > *{float: left; width: 100%;}
#m_descript > .wrap > div > div{height: 250px; position: relative;}
#m_descript > .wrap > div > div > div{width: 200px; height: 200px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#m_descript > .wrap > div > div > div > span{position: absolute; border-radius: 50%;}
#m_descript > .wrap > div > div > div > span:nth-child(1){width: 155px; height: 155px; background-color: #CE3375; top: 0; left: 0; z-index: 1;}
#m_descript > .wrap > div > div > div > span:nth-child(2){width: 130px; height: 130px; background-color: #0F4C81; bottom: 0; right: 0;}
#m_descript > .wrap > div > div > img{height: 150px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#m_descript > .wrap > div > p:nth-child(2){line-height: 60px; text-align: center; font-size: 30px;}
#m_descript > .wrap > div > p:nth-child(3){text-align: center; opacity: 0.75;}

/* ---------- */

#project{padding: 200px 0}
#project > .wrap{width: 1300px; height: auto;}
#project > .wrap > #project_h{padding: 0 119px; float: left;}
#project > .wrap > #project_h > p{width: 388px; height: 92px; border-radius: 92px; line-height: 92px; font-size: 30px; text-align: center; float: left;}
#project > .wrap > #project_h > div{height: 92px; float: left; padding-left: 50px;}
#project > .wrap > #project_h > div > span{display: block; width: 92px; height: 92px; margin: 0 17px; line-height: 92px; font-size: 30px; text-align: center; border-radius: 50%; float: left;}
#project > .wrap > #project_h > div > .project_arrow{width: 60px; margin: 0;}
/* #project > .wrap > #project_h > div > .active{background-color: #353866; color: #ffffff} */
#project > .wrap > #project_contents{height: auto; float: left; padding-top: 100px;}
#project > .wrap > #project_contents > #poster_area{width: 578px; height: 1000px; padding: 45px 0 95px; background-image: url('../img/apple-mobile-description.png'); position: relative; border-radius: 50px; overflow: hidden; float: left;}
#project > .wrap > #project_contents > #photo_area{width: calc(100% - 578px); height: 100%; float: left; padding: 100px 0 0 100px;}
#project > .wrap > #project_contents > #photo_area > #poster_infor{width: 100%; height: auto;}
#project > .wrap > #project_contents > #photo_area > #poster_infor > h4{font-size: 20px;}
#project > .wrap > #project_contents > #photo_area > #poster_infor > p{font-size: 18px; line-height: 40px;}
#project > .wrap > #project_contents > #photo_area > #poster_infor > p:nth-child(2){margin-top: 50px;}
#project > .wrap > #project_contents > #photo_area > #photo > table{margin-top: 75px;}
#project > .wrap > #project_contents > #photo_area > #photo > table td{width: 160px; display: block; float: left; height: 160px; margin: 23px; overflow: hidden; border-radius: 20px; cursor: pointer}

/* #photo2{background-image: url('../img/competition/first/2.jpg');}
#photo3{background-image: url('../img/competition/first/3.jpg');}
#photo4{background-image: url('../img/competition/first/4.jpg');}
#photo5{background-image: url('../img/competition/first/5.jpg');}
#photo6{background-image: url('../img/competition/first/6.jpg');}
#photo7{background-image: url('../img/competition/first/7.jpg');}
#photo8{background-image: url('../img/competition/first/8.jpg');}
#photo9{background-image: url('../img/competition/first/9.jpg');} */

/* ---------- */

#teammate{height: auto; padding-bottom: 150px}
#teammate > .liner1{height: 900px;}
#teammate > h2{font-weight: 30px; text-align: center; padding: 10px; width: 250px; margin: auto; border: 1px solid #353866}
#teammate > #leader{width: 100%; height: auto; float: left; margin-bottom: 150px;}
#teammate > #leader > #leader_h{font-size: 25px; text-align: center; padding: 10px; width: 150px; margin: 100px auto 0; position: relative;}
#teammate > #leader > #leader_h::before{content: ""; position: absolute; width: 980px; height: 4px; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1;}
#teammate > #leader > .wrap{width: 1300px; margin-top: 6px;}
#teammate > #leader > .wrap > div{width: calc(100%/4); height: auto; float: left; padding: 50px}
#teammate > #leader > .wrap > div > *{text-align: center; display: block; margin: auto;}
#teammate > #leader > .wrap > div > h3{font-size: 25px; margin-bottom: 30px; position: relative;}
#teammate > #leader > .wrap > div > h3::before{content: ""; width: 5px; height: 75px; position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);}
#teammate > #leader > .wrap > div > span{font-size: 25px; margin-bottom: 30px; background-position: top;}

#teammate > #member{width: 100%; height: auto; float: left;}
#teammate > #member > #member_h{font-size: 25px; text-align: center; padding: 10px; width: 150px; margin: 100px auto 0; position: relative;}
#teammate > #member > #member_h::before{content: ""; position: absolute; width: 980px; height: 4px; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1;}
#teammate > #member > .wrap{width: 1300px; margin-top: 6px;}
#teammate > #member > .wrap > div{width: calc(100%/4); height: auto; float: left; padding: 50px}
#teammate > #member > .wrap > div > *{text-align: center; display: block; margin: auto;}
#teammate > #member > .wrap > div > h3{font-size: 25px; margin-bottom: 30px; position: relative;}
#teammate > #member > .wrap > div > h3::before{content: ""; width: 5px; height: 75px; position: absolute; bottom: 50px; left: 50%; transform: translateX(-50%);}
#teammate > #member > .wrap > div > table{width: 100%; font-size: 24px;}
#teammate > #member > .wrap > div > table th{padding-right: 20px; position: relative;}
#teammate > #member > .wrap > div > table th::after{content: ""; width: 1px; height: 65px; position: absolute; top: 5px; right: 8px;}

.leader_image{width: 180px; height: 180px; border-radius: 50%; overflow: hidden;}




#poster{width: 100%; height: 857px; background-image: url('../img/competition/first.jpg');}
#photo1{background-image: url('../img/competition/first/1.jpg');}
#leader_image1{background-image: url('../img/KakaoTalk_20200216_213712450.jpg');}

/* ---------- */



/* ---------- */



/* ---------- */























